</div>  
</div> 
    <script src="bundles/libscripts.bundle.js"></script>
    <script src="plugin/nestable/jquery.nestable.js"></script>
    <script src="js/template.js"></script>
    <script src="js/page/task.js"></script>
</body>
</html>