            <!-- Edit Project-->
            <div class="modal fade" id="editproject" tabindex="-1"  aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                    <form action="/dashboard/project-edit" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title  fw-bold" id="createprojectlLabel"> Create Project</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label class="form-label">Project Name</label>
                                    <input name="title" type="text" class="form-control" placeholder="Explain what the Project Name">
                                </div>
                                <div class="mb-3">
                                    <label  class="form-label">Project Category</label>
                                    <select class="form-select" aria-label="Default select Project Category">
                                        <option selected>UI/UX Design</option>
                                        <option value="1">Website Design</option>
                                        <option value="2">App Development</option>
                                        <option value="3">Quality Assurance</option>
                                        <option value="4">Development</option>
                                        <option value="5">Backend Development</option>
                                        <option value="6">Software Testing</option>
                                        <option value="7">Website Design</option>
                                        <option value="8">Marketing</option>
                                        <option value="9">SEO</option>
                                        <option value="10">Other</option>
                                    </select>
                                </div>
                                <div class="row g-3 mb-3">
                                    <div class="col">
                                        <label for="datepickerded" class="form-label">Project Start Date</label>
                                        <input type="date" class="form-control" id="datepickerded">
                                    </div>
                                    <div class="col">
                                        <label for="datepickerdedone" class="form-label">Project End Date</label>
                                        <input type="date" class="form-control" id="datepickerdedone">
                                    </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea78" class="form-label">Description (optional)</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea78" rows="3" placeholder="Add any extra details about the project"></textarea>
                                    </div>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
